.form-group {
    width: 340px;
      margin: 50px auto;
    }

  .mwPagination {
  position: relative;
  right: 35%;
  left: 35%;
  font-size: 14px;
  }
  .open-button {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }