<div class="login-form">
  <form #loginform="ngForm" (ngSubmit)="loginUserPreCheckToken()">
    <h2 class="text-center">MW decisions Login</h2> 
      <small class="text-danger">{{msg}}</small>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="username" class="form-control"  placeholder="Enter Username" name="username" [(ngModel)]="user.username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" name="password" [(ngModel)]="user.password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
    <small class="float-right" (click)="signUpUser()">Sign Up</small>
  </form>
  
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner>